@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    <div class="d-flex flex-row justify-content-center">
        <component type="typeof(BlazorInMVC.BlazorComponents.Counter)" render-mode="ServerPrerendered" />
    </div>

    @section Scripts {
        <script src="_framework/blazor.server.js"></script>
    }
